extends layout

block append left
  include time
block append middle
  div#tmpId
    if userinfo == null
      h1 Please 
         a(href="/auth/google") Sign in 
         to Create Schedule!
    else
      h1
        a(href="/logout") Logout
        span  - 
        Feel Free to Schedule!

