extends layout

block append left
  include time
block append middle
  div#tmpId
    if userinfo == null
      h1 Please 
         a(href="/auth/google") Sign in 
         to Create Schedule!
    else
      h1
        a(href="/logout") Logout
        span  - 
        Feel Free to Schedule!
   
      table#classSchedule
        tbody
          tr
            th Time
            th Class Name

          tr
            td 8:00 - 9:00 am
            td Groovy Stuff
          tr
            td 9:15 - 10:15 am
            td Groovy Stuff
          tr       
            td 10:30 - 11:30 am
            td Groovy Stuff
          tr 
            td 11:30 - 1:00 pm
            td Lunch and Keynote
          tr       
            td 1:15 - 2:15 am
            td Groovy Stuff
          tr
            td 9:15 - 10:15 am
            td Groovy Stuff
          tr       
            td 10:30 - 11:30 am
            td Groovy Stuff

