extends layout

block append left
  include time
block append middle
  div#tmpId
    if userinfo == null
      #mobileLogin
        a(href="/auth/google") 
          img(src='/images/google.png')
      #regLogin
        h1 Please 
          a(href="/auth/google") Sign in Using Google to Create Schedule!
    else
      a(href="/logout") Logout
      include mySchedule 
