doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      block header
        #header
          h1 
            a(href="#") 
              span M3Conf Schedulr
      #content
        #nav
          #menu
            ul
              li
                a(href="#") Home
          #submenu
            ul
              li Test1
        block content
