doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/tablet.css')
      link(rel='stylesheet', href='/stylesheets/mobile.css')
  body
    #wrapper
      block leftheader
        #header
          h1 
            a(href="/") 
              span M3Conf Schedulr
      #nav
        #menu
          ul
            li
              a(href="/") Home
            li
              a(href="/class/add") Add Class
        #submenu
          ul
            li 
              a(href="#") Test1
      #content
        #leftbar
          block left
        #middlebar
          block middle
        #rightbar
          block right
            h1 ads here
            a(href="http://www.m3conf.com")
              img(src="/images/M3ad.png")
        
           
