doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/tablet.css')
      link(rel='stylesheet', href='/stylesheets/mobile.css')
  body
    #wrapper
      block left
        #header
          h1 
            a(href="#") 
              span M3Conf Schedulr
      block middle 
        #nav
          #menu
            ul
              li
                a(href="#") Home
          #submenu
            ul
              li 
                a(href="#") Test1
     
