doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/tablet.css')
      link(rel='stylesheet', href='/stylesheets/mobile.css')
      script(src='http://code.jquery.com/jquery-1.8.2.js')
      script(src='http://code.jquery.com/ui/1.9.0/jquery-ui.js')
      script(src='/javascript/sitecommon.js')
  body
    #wrapper
      #mobileHeader
        #mobileHeaderContent.invisible
          include timemobile
      block leftheader
        #header
          #logo
            h1
              img(src="/images/m3_logo.png") 
          #mobileMenu
            p 
              a(href="#") Add Class
      #nav
        #date 2012
        #line1 M3 Conference
        #line2 Class Scheduler
      #content
        #leftbar
          block left
        #middlebar
          block middle
        #rightbar
          block right
            a(href="http://www.m3conf.com")
              img(src="/images/M3ad.png")
        
           
