doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/tablet.css')
      link(rel='stylesheet', href='/stylesheets/mobile.css')
  body
    #wrapper
      block leftheader
        #header
          #logo
            h1
              img(src="/images/m3_logo.png") 
          #mobileMenu
            p Menu
      #nav
        #date 2012
        #line1 M3 Conference
        #line2 Class Scheduler
        //
        //  #menu
        //    ul
        //      li
        //       include logon
      #content
        #leftbar
          block left
        #middlebar
          block middle
        #rightbar
          block right
            a(href="http://www.m3conf.com")
              img(src="/images/M3ad.png")
        
           
