script
  $(document).ready(function() {
    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
        alert("Quit dropping stuff on me");
      }
    });
  }); 

- each day in schedule.days
  h3= day.name
    table#classSchedule
      tbody
        tr
          th Time
          th Class Name
        - each time in day.times
          tr
            td #{time.startTime} - #{time.endTime}
            td.droppable #{time.class}

