script
  $(document).ready(function() {
    $( ".draggable" ).draggable({
      helper: "clone",
      cursor: "move"
    });
  });

#times
   ul
     - each time in siteSchedule
       .time
         li
           h1 #{time.startTime} to #{time.endTime}
             .classes
               ul
                 - each m3class in time.classes
                   .class
                     li
                       .draggable.ui-widget-content
                         a(href="#") #{m3class.className}
