@media screen and (max-width:480px)
  #wrapper
    margin-top: 0
    margin-left: 10px
    margin-right:10px
    width:350px
    margin-right:auto
    margin-left:auto
  #nav
    display:none
  #content
    width:350px
    #leftbar
      display:none
    #middlebar
      width: 330px
      padding-right: 10px
      padding-left: 0
  #header
    display:inline
    width: 330px 
    height: 50px
    #logo
      float: left
      width: 100px
      display:inline
      h1
        height: 50px
        img
          display:none
        a
          height: 50px
  #mobileHeader
    height: 150px
    display: inline
    overflow: hidden
    background-color:grey;
    #mobileHeaderContent
      margin-left: 10px
      margin-right: 10px
      padding-top:10px
      div 
        float:none
        clear:both
        text-align:center
        select
          width:100px
          height:50px
  #mobileMenu
    float:right
    margin-right: 15px
    margin-top: 5px
    color: white
    width:80px
    padding: 5px
    height: 25px
    display: inline
    background-color:grey 
    p
      line-height: 1.5em
      text-align: center

  table#classSchedule
    //display:none  Can remove the class schedule completely by displaying none.  If the mobile version doesn't want it it can do that here.
    //font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 330px
  #mobileLogin
    display:inline
    width: 100%
    img
      width: 150px
      margin-left: 90px
  #regLogin
    text-align: center
