@media screen and (max-width:480px) {
  #wrapper {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  #nav {
    display: none;
  }
  #content {
    width: 350px;
  }
  #content #leftbar {
    display: none;
  }
  #content #middlebar {
    width: 330px;
    padding-right: 10px;
    padding-left: 0;
  }
  #header {
    display: inline;
    width: 330px;
    height: 50px;
  }
  #header #logo {
    float: left;
    width: 100px;
    display: inline;
  }
  #header #logo h1 {
    height: 50px;
  }
  #header #logo h1 img {
    display: none;
  }
  #header #logo h1 a {
    height: 50px;
  }
  #mobileHeader {
    height: 150px;
    display: inline;
    overflow: hidden;
    background-color: #808080;
  }
  #mobileHeader #mobileHeaderContent {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
  }
  #mobileHeader #mobileHeaderContent div {
    float: none;
    clear: both;
    text-align: center;
  }
  #mobileHeader #mobileHeaderContent div select {
    width: 100px;
    height: 50px;
  }
  #mobileMenu {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    color: #fff;
    width: 80px;
    padding: 5px;
    height: 25px;
    display: inline;
    background-color: #808080;
  }
  #mobileMenu p {
    line-height: 1.5em;
    text-align: center;
  }
  table#classSchedule {
    width: 330px;
  }
  #mobileLogin {
    display: inline;
    width: 100%;
  }
  #mobileLogin img {
    width: 150px;
    margin-left: 90px;
  }
  #regLogin {
    text-align: center;
  }
}
