body 
  background: url(/images/background.jpg)
  background-repeat: repeat
*
  margin: 0
  padding: 0
  text-decoration: none
  font-size: 1em
  outline: none
a
  color: #00B7FF
#wrapper
  margin: 10px 0 0 10px
  width: 1060px
  margin-right: auto
  margin-left: auto
  background-color:white
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
#header
  width: 250px
  position: relative
  float: left
  margin-right: 10px
  clear: both
  z-index: 6
  h1
    height: 148px
    border: 1px solid #066
    border-width: 1px 0
    position: relative
    font-size: 24px
    a
      position: relative
      display: block
      height 148px
      color: #003
      span
        bottom: 14px
        position: absolute
        padding: 0 10px
        line-height: 1em
        text-decoration: none 
#nav
  border-top: 1px solid #066
  border-bottom: 1px solid #AAA
  height: 70px
  padding: 0
  margin: 0
  float: left
  width: 800px
  color: #003
  li
    float:left
    list-style: none
    padding: 6px 0
    a
      border-right: 1px solid #DDD 
      padding: 0 0 6px 4px
      height: 47px
      width: 85px
      color: #003
      display: block
#submenu
  border-top: 1px solid #066
  border-bottom: 1px solid #066
  height: 80px
  padding: 0
  margin: 0
  float: left
  width: 800px
  color: #003
  li
    list-style: none
    padding: 6px 0
    a
      border-right: 1px solid #DDD
      padding: 0 0 6px 4px
      height: 47px
      width: 85px
      color: #003
      display: block

#content
  float: none
  clear: both 
  //background-color: grey
  min-height: 1000px
  width: 1060px
  #leftbar
    float: left
    width: 240px
    padding-left: 10px
    padding-top: 10px
    min-height: 800px
    //background-color: yellow
    -webkit-border-top-left-radius 8px
    -webkit-border-top-right-radius 8px
  #middlebar
    //background-color: blue
    -webkit-border-top-left-radius 8px
    -webkit-border-top-right-radius 8px
    margin-left: 10px
    float: left
    width: 590px
    min-height: 800px
    padding-left: 10px
    padding-top:10px
  #rightbar
    float: left
    width: 190px
    padding-top: 10px
    padding-left: 10px
    height: 100%
