m3-light-blue = #CFEAEA;
m3-dark-blue = #789AA1
//m3-orange = 

body 
  background: url(/images/background.jpg)
  background-repeat: repeat
*
  margin: 0
  padding: 0
  text-decoration: none
  font-size: 1em
  outline: none
a
  color: #00B7FF
#wrapper
  margin-top: 10px 
  margin-bottom: 10px
  padding-bottom: 5px
  width: 1060px
  margin-right: auto
  margin-left: auto
  background-color:white
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
.invisible
  display:none
.invisibleClass
  display:none
.invisibleTime
  display:none
#mobileHeader
  display: none
#mobileMenu
  display:none
#header
  width: 240px
  height: 120px
  position: relative
  float: left
  margin-right: 10px
  margin-left: 10px
  clear: both
  z-index: 6
  h1
    font-size: 24px
    img
      padding-top: 15px
      padding-left: 20px
    a
      display: block
      color: #003
      span
        bottom: 14px
        position: absolute
        padding: 0 10px
        line-height: 1em
        text-decoration: none 
#nav
  height: 122px
  padding: 0
  margin: -2px;
  float: right
  width: 790px
  margin-right: 10px
  color: #003

  #date
    float: left
    font-family: pragmatica-web, Arial, Helvetica, sans-serif
    margin: 0px
    margin-right: 10px
    padding: 0px
    font-size: 78pt
    line-height: 79px
    color: #789AA1
    margin-top: 20px
  #line1
    color: #789AA1
    font-family: pragmatica-web, Arial, Helvetica, sans-serif
    font-size: 53px
    font-style: normal
    font-weight: 200
    height: 53px
    line-height: 53px
    margin-top: 20px
  #line2
    color: #E6A32C;
    display: inline;
    float: none;
    font-family: pragmatica-web, Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 200;
    height: auto;
    line-height: 26px;
    margin-top: 20px
  #menu
    position:float-right
    li
      float:right
      list-style: none
      padding: 3px 0
      a
        padding: 0 0 6px 4px
        width: 85px
        color: #003
        display: block
  #submenu
    height: 70px
    padding: 0
    margin: 0
    float: left
    width: 790px
    margin-right: 10px
    color: #003
    li
      list-style: none
      padding: 6px 0
      a
        padding: 0 0 6px 4px
        height: 47px
        width: 85px
        color: #003
        display: block

#content
  overflow: hidden 
  float: none
  clear: both 
  //background-color: grey
  min-height: 1000px
  width: 1060px
  border-top: 1px solid #066
  #leftbar
    float: left
    width: 240px
    padding-left: 10px
    padding-top: 10px
    min-height: 800px
    -webkit-border-top-left-radius 8px
    -webkit-border-top-right-radius 8px
  #middlebar
    -webkit-border-top-left-radius 8px
    -webkit-border-top-right-radius 8px
    margin-left: 10px
    float: left
    width: 590px
    min-height: 800px
    padding-left: 10px
    padding-top:10px

  #rightbar
    float: left
    width: 190px
    padding-top: 10px
    padding-left: 10px
    height: 100%
#times
  .time
    border: 1px solid black
    li
      list-style:none
    .classes
      .class
        margin-left: 10px

table#classSchedule
  //display:none  Can remove the class schedule completely by displaying none.  If the mobile version doesn't want it it can do that here.
  //font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%
  border-collapse: collapse
  font-size: 100%;
  display: table;
  margin-top: 4px;
  border-spacing: 2px;
  border-color: gray;
  color: black;
  
  tbody
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    tr
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      
      th
        font-size: 1.2em;
        border: 1px solid m3-dark-blue;
        padding: 3px 7px 2px 7px;
        text-align: left;
        background-color: m3-dark-blue;
        color: white; 

      td
        border: 1px solid m3-dark-blue;
        padding: 3px 7px 2px 7px;
   
    tr:nth-child(2n+1)
      background-color: m3-light-blue;
  
