body {
  background: url("/images/background.jpg");
  background-repeat: repeat;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}
a {
  color: #00b7ff;
}
#wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  -moz-box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
}
#header {
  width: 240px;
  height: 149px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  clear: both;
  z-index: 6;
}
#header #mobileMenu {
  display: none;
}
#header h1 {
  height: 148px;
  border-bottom: 1px solid #066;
  position: relative;
  font-size: 24px;
}
#header h1 a {
  position: relative;
  display: block;
  height: 148px;
  color: #003;
}
#header h1 a span {
  bottom: 14px;
  position: absolute;
  padding: 0 10px;
  line-height: 1em;
  text-decoration: none;
}
#nav {
  border-bottom: 1px solid #aaa;
  height: 149px;
  padding: 0;
  margin: 0;
  float: left;
  width: 790px;
  margin-right: 10px;
  color: #003;
  border-bottom: 1px solid #066;
}
#nav #menu {
  border-bottom: 1px solid #066;
  height: 70px;
}
#nav #menu li {
  float: left;
  list-style: none;
  padding: 6px 0;
}
#nav #menu li a {
  border-right: 1px solid #ddd;
  padding: 0 0 6px 4px;
  height: 47px;
  width: 85px;
  color: #003;
  display: block;
}
#nav #submenu {
  height: 70px;
  padding: 0;
  margin: 0;
  float: left;
  width: 790px;
  margin-right: 10px;
  color: #003;
}
#nav #submenu li {
  list-style: none;
  padding: 6px 0;
}
#nav #submenu li a {
  padding: 0 0 6px 4px;
  height: 47px;
  width: 85px;
  color: #003;
  display: block;
}
#content {
  overflow: hidden;
  float: none;
  clear: both;
  min-height: 1000px;
  width: 1060px;
}
#content #leftbar {
  float: left;
  width: 240px;
  padding-left: 10px;
  padding-top: 10px;
  min-height: 800px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
#content #middlebar {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  margin-left: 10px;
  float: left;
  width: 590px;
  min-height: 800px;
  padding-left: 10px;
  padding-top: 10px;
}
#content #rightbar {
  float: left;
  width: 190px;
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
}
#times .time {
  border: 1px solid #000;
}
#times .time li {
  list-style: none;
}
#times .time .classes .class {
  margin-left: 10px;
}
