@media screen and (max-width:1060px) {
  #wrapper {
    width: 600px;
  }
  #header {
    display: none;
  }
  #nav {
    float: left;
  }
  #content {
    width: 600px;
  }
  #content #rightbar {
    display: none;
  }
  #content #middlebar {
    width: 300px;
  }
  #content #middlebar .time {
    width: 100px;
  }
  .accordion p {
    height: 45px;
  }
}
